body {
  background-color: #9266ff;
}
.App {
  text-align: center;
  color: #fff;
  display: flex;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
  flex-direction: column;
  align-items: center;
  background-color: #3f3160;
  box-shadow: 2px 2px 20px grey;
  border-radius: 8px;
}
body,
html,
#root {
  height: 100%;
}
.todo-form {
  display: flex;
  flex-direction: row;
  align-items: center;
}
